:root {
    // brand colors
    --c-brand: #8c00ff;
    --c-brand-light: #8c00ff;
}

html.dark {
    // brand colors
    --c-brand: #8c00ff;
    --c-brand-light: #8c00ff;

    // background colors
    --c-bg: #0a0a1e;
    --c-bg-light: #141428;
    --c-bg-lighter: #1e1e32;
    --code-bg-color: #1e1e32;

    // custom container colors
    --c-tip: #318a62;
    --c-warning: #ceab00;
    --c-warning-bg: #ffbf005e;
    --c-warning-title: #ceac03;
    --c-warning-text: #ceab00;
    --c-danger: #940000;
    --c-danger-bg: #94000056;
    --c-danger-title: #ff0000;
    --c-danger-text: #ff0000;
    --c-details-bg: #323843;
}